@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6b256f;
    font-family: 'Righteous', cursive;
}

.wrapper {
    display: flex;
}

.wrapper .static-txt {
    color: #fbb9de;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dynamic-txts {
    margin-left: 15px;
    line-height: 80px;
    height: 80px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    color: #550059;
    font-size: 60px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 6s steps(2) infinite;
}

@keyframes slide {
    100% {
        top: -165px;
    }
}

.dynamic-txts li {
    position: relative;
}

.dynamic-txts li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #6b256f;
    border-left: 2px solid #550059;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
}

.link-txt {
    font-family: 'Sarala', sans-serif;
    margin-top: 50px;
}

.link-txt a{
    text-decoration: none;
    color: #fbb9de;
}